<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemPresensiMahasiswa.Properties.Settings.SistemPresensiDBConnectionString"
            connectionString="Data Source=LAPTOP-2TIS9UVD\RIZQIHUDAYA;Initial Catalog=SistemPresensiDB;Persist Security Info=True;User ID=sa;Password=Tectona2007;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>